.details__card {
    display: flex;
    gap: 2em;
    max-width: 100%;
    max-height: 100%;
}

.details__card-main {
    display: flex;
    justify-content: center;
    width: 25%;
    padding: 1.5em 2em;
}

.details__card-main img {
    max-width: 300px;     
    max-height: 300px;    
    width: auto;           
    height: auto;
    object-fit: cover;
    border-radius: .6em;
    background-color: var(--background-color);
    box-shadow: 0 3px 8px var(--inactive-color);
}

.details__card-main .img-empty {
    border: 2px dashed var(--secondary-color);
    background-color: var(--inactive-color);
    width: 220px;
    height: 220px;
    border-radius: 0.6em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    font-style: italic;
    font-size: 1rem;
}


.details__card-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding: 1.5em 2em;
    border-radius: 0.6em;
    border: 1px solid var(--inactive-color);
    box-shadow: 0 3px 8px var(--inactive-color);
}

.details__card-info h3 {
    margin: 0;
}

.card-info-main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 2em;
    border-bottom: 1px solid var(--inactive-color);
    border-radius: .6em;
}

.card-info-main .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    gap: 1em;
}

.card-info-details {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.card-info-details .left, .card-info-details .right, .card-info-main .top {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.info-row {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
  font-weight: 600;
  font-size: var(--font-size);
  color: var(--tertiary-color);
  user-select: none;
}


.info-row .label {
    color: grey;
}

.info-row a {
    color: var(--secondary-color)
}

.info-row a:hover {
    color: var(--new-btn-color)
}