/* button */
* common */
.fs-button-group {
    margin-top: 1.5em;
}

.display-flex {
    display: flex;
    gap: 1em;
}

.fs-button {
    background-color: transparent;
    border: 1px solid grey;
    color: grey;
    padding: 0.5em 1.2em;
    border-radius: 0.4em;
    font-size: var(--font-size);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}


/*  boxes */

.fs-box {
    gap: 1em;
    padding: 1.5em 2em;
    border-radius: 0.5em;
    border: 1px solid var(--inactive-color);
    box-shadow: 0 3px 8px var(--inactive-color);
}

/* heading */

.h3-bold {
    font-size: 15px;
    font-weight: 600;
}

/* others */

#em-warning {
    color: var(--error-msg-color);
}