<form method="post" action="{{ path('app_coffee_details_delete', {'id': coffee_detail.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coffee_detail.id) }}">
    <button class="fs-button del-btn">Delete</button>
</form>
