
/*HEADER*/

header {
    position: relative;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links {
    display: flex;
    width: 100%;
    margin-left: 3rem;
    gap: 2rem;
}

.navbar .login {
    align-items: center;
    display: inline-flex;
    gap: .5rem;
}

.navbar .toggle-btn {
    color: rgb(111, 26, 7);
    cursor: pointer;
    display: none;
}

.navbar .cart-btn {
    color: rgb(111, 26, 7);
    cursor: pointer;
}

.action-btn {
    background-color: rgb(168, 116, 62);
    color: rgb(247, 243, 227);
    padding: .5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: .8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2 ease;
}

.action-btn:hover {
    background-color: rgb(111, 26, 7);
    color: rgb(247, 243, 227);
    scale: 1.05;
}

.action-btn:active {
    scale: 0.95;
}

#logo {
    display: inline-block;
    flex: 1 0 auto;
    height: 30px;
    width: 320px;
}