.page {
    background-color: var(--primary-color);
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "sidebar main";
}

aside {
    grid-area: sidebar;
}

main {
    grid-area: main;
    margin-top: min(30px, 7%);
    padding: min(30px, 7%);
    background-color: var(--base-color);
    border-top-left-radius: .5rem;
    box-shadow: 0 2px 4px var(--inactive-color);
}

.page__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 14px;
    line-height: 1.5;
}

.page__content-overview {
    display: flex;
    width: 100%;
    justify-content: space-between; /* or start, center, etc. */
    gap: 1%; /* space between flex items */
    flex-wrap: wrap; /* allow wrapping on smaller screens */
}

.fs-box.total {
    background-color: var(--secondary-color);
    box-shadow: none;
    flex: 1 1 23%; /* grow, shrink, basis */
    padding: 1em;
    margin-right: 1%; /* optional for spacing */
}

.fs-box.total h3 {
    display: flex;
    justify-content: space-between;
    color: var(--base-color);
    margin: 0 0 1.5em 0;
    font-weight: 600;
}

.fs-box.total i,.fs-box.total p {
    color: var(--base-color);
}

.page__content-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.details-head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.details-footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1em;
    margin-top: 2em;
}

/* Header style */
.details-head h1 {
    font-size: 1.4em;
    color: var(--tertiary-color);
    font-weight: 600;
    margin: 0;
    user-select: none;
}