@import "tailwindcss";
@source not "../../public";

@font-face {
    font-family: 'Fat Kat';
    src: url("C:\Users\i3-Bing\Downloads\Fat Kat - (Demo) hanscostudio.com.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-family-base: 'Montserrat';
    --base-color: rgb(255, 255, 250);
    --primary-color: rgb(247, 243, 227);
    --secondary-color: rgb(168, 116, 62);
    --tertiary-color: rgb(79, 66, 54);
    --inactive-color: rgba(247, 243, 227, 0.7);
    --inactive-light-color: rgba(247, 243, 227, 0.304);
    --font-size: .85em;

    --new-btn-color: rgb(154, 196, 127);
    --new-light-btn-color: rgba(154, 196, 127, 0.6);
    --new-dark-btn-color: rgb(91, 132, 65);

    --error-msg-color: rgb(176, 0, 32);
    --error-bg-color: rgba(176, 0, 32, 0.1);

    --wip-color: rgb(176, 0, 32);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-base);
    background-color: var(--base-color);
    min-width: 100%;
    min-height: 100vh;
    line-height: 1.5;
}

/* links */
ul,
li {
    list-style: none;
}

a {
    color: var(--tertiary-color);
    text-decoration: none;
    font-size: var(--font-size);
}

a:hover {
    color: var(--secondary-color);
}

button {
    font: inherit;
    font-size: var(--font-size);
}

button:hover {
    cursor: pointer;
    color: var(--secondary-color);
}

.display-flex {
    display: flex;
    gap: 1em;
}


.row {
    width: 100%;
    margin: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.banner {
    width: 100%;
    height: 500px;
    position: relative;
}

.about-banner {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.banner h1 {
    position: absolute;
    color: rgb(247, 243, 227);
    bottom: 5rem;
    right: 5rem;
    width: 60%;
    font-size: 50px;
    font-style: italic;
}

.row-2 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
}

.left {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    align-content: center;
}

.right {
    height: 100%;
    width: 40%;
    margin: 0 auto;

}

#about-img1 {
    height: 500px;
    margin-top: 3rem;
}

.left h1,
h2,
h3 {
    margin: 1rem auto;
}

.left h2,
h3 {
    color: rgb(168, 116, 62);
}

.left h1 {
    color: rgb;
    font-size: 30px;
}

.left h2 {
    font-size: 20px;
}

/*  boxes */

.fs-box {
    gap: 1em;
    padding: 1.5em 2em;
    border-radius: 0.5em;
    border: 1px solid var(--inactive-color);
    box-shadow: 0 3px 8px var(--inactive-color);
}

/* heading */

.h3-bold {
    font-size: 15px;
    font-weight: 600;
}

/* others */

#em-warning {
    color: var(--error-msg-color);
}