/* BODY */

.row {
    width: 100%;
    margin: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.banner {
    width: 100%;
    height: 500px;
    position: relative;
}

.about-banner {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.banner h1 {
    position: absolute;
    color: rgb(247, 243, 227);
    bottom: 5rem;
    right: 5rem;
    width: 60%;
    font-size: 50px;
    font-style: italic;
}

.row-2 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
}

.left {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    align-content: center;
}

.right {
    height: 100%;
    width: 40%;
    margin: 0 auto;

}

#about-img1 {
    height: 500px;
    margin-top: 3rem;
}

.left h1,
h2,
h3 {
    margin: 1rem auto;
}

.left h2,
h3 {
    color: rgb(168, 116, 62);
}

.left h1 {
    color: rgb;
    font-size: 30px;
}

.left h2 {
    font-size: 20px;
}