{% macro field_errors(field) %}
{% if field.vars.errors|length %}
<div class="fs-error">
    {% for error in field.vars.errors %}
    <div class="fs-error-message">{{ error.message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endmacro %}

{% macro form_errors(form) %}
{% if form.vars.errors|length %}
<div class="fs-error">
    {% for error in form.vars.errors %}
    <div class="fs-error-message">{{ error.message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endmacro %}