{% block body %}

<header>
    <div class="details-head">
        <div class="header__logo">
            <img id="logo-icon" src="{{ asset ('images/icon-logo.png') }}">
            <h1>Brews n' Books.</h1>
        </div>
    
        <div class="header-right">
            <a class="fs-button"><i class="fa-solid fa-house"></i>Home</a>
            
            <a class="fs-button"><i class="fa-solid fa-arrow-right-from-bracket"></i>Log-out</a>
        </div>
        
    </div>

</header>

{% endblock %}