<div class="fs-box total">
    <h3>Active Products <i class="fa-solid fa-box"></i></h3>
    <p>{{ activeProducts }}</p>
</div>
<div class="fs-box total">
    <h3>Books <i class="fa-solid fa-book"></i></h3>
    <p>{{ totalBooks }}</p>
</div>
<div class="fs-box total">
    <h3>Coffee <i class="fa-solid fa-mug-saucer"></i></h3>
    <p>{{ totalCoffee }}</p>
</div>
<div class="fs-box total">
    <h3>Suppliers <i class="fa-solid fa-truck"></i></h3>
    <p>{{ totalBundleComp }}</p>
</div> 